In [2]:
import pandas as pd
DIR = 'data/new data/'

Coba test data yang sudah di ambil dari Bitcoinity

In [6]:
bitcoin_time_series = pd.read_csv(DIR + "bitcoin_price_daily.csv", parse_dates = ['Time'])
gtrend_time_series = pd.read_csv(DIR + "daily_gtrend_data_new.csv", parse_dates = ['date'])

In [8]:
block_size = pd.read_csv(DIR + "block_size_cut.csv", parse_dates = ['Time'])
mining_difficulty = pd.read_csv(DIR + "mining_difficulty_daily_cut.csv", parse_dates = ['Time'])
number_of_transaction = pd.read_csv(DIR + "number_of_transaction_cut.csv", parse_dates = ['Time'])

Menyatukan semua data

In [9]:
dataset = bitcoin_time_series.copy()
dataset['gtrend'] = gtrend_time_series['bitcoin']
dataset['block_size'] = block_size['block_size']
dataset['difficulty'] = mining_difficulty['difficulty']
dataset['number_of_transaction'] = number_of_transaction['not']

In [10]:
dataset.corr(method='pearson')

,price,volume,gtrend,block_size,difficulty,number_of_transaction
price,1.000000,0.750515,0.627894,0.605706,0.751124,0.705840
volume,0.750515,1.000000,0.868113,0.473348,0.333070,0.487383
gtrend,0.627894,0.868113,1.000000,0.430812,0.214389,0.451041
block_size,0.605706,0.473348,0.430812,1.000000,0.452422,0.941249
difficulty,0.751124,0.333070,0.214389,0.452422,1.000000,0.624662
number_of_transaction,0.705840,0.487383,0.451041,0.941249,0.624662,1.000000

In [11]:
dataset.tail()

,Time,price,volume,gtrend,block_size,difficulty,number_of_transaction
4129,2021-11-05 00:00:00+00:00,61617.144202,1.052916e+09,12.0,NaN,NaN,NaN
4130,2021-11-06 00:00:00+00:00,61074.400420,7.756679e+08,11.0,NaN,NaN,NaN
4131,2021-11-07 00:00:00+00:00,62209.854923,7.616645e+08,10.0,NaN,NaN,NaN
4132,2021-11-08 00:00:00+00:00,65802.647563,2.303838e+09,16.0,NaN,NaN,NaN
4133,2021-11-09 00:00:00+00:00,67523.004370,1.910524e+09,18.0,NaN,NaN,NaN

In [12]:
test = 13912524048945.9
print(type(test))

<class 'float'>

In [13]:
print(test)

13912524048945.9